 @font-face {
     font-family: "font0";
     src: url("fonts/Roboto-Light.ttf") format("truetype");
 }

 @font-face {
     font-family: "font1";
     src: url("fonts/Roboto-Regular.ttf") format("truetype");
 }

 body {
     margin: 0;
 }

 header {
     background-color: rgb(14, 124, 228);
     height: 10px;
     width: 100%;
 }

