/* Two fonts used with for different types of text */

@font-face {
    font-family: "light-font";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "regular-font";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    margin: 0;
}

/* This is to create the blue bar at the top */

header {
    background-color: #206db6;
    height: 11px;
    width: 100%;
}

/* Used to style the large text in blue */

h1 {
    font-family: light-font;
    font-weight: normal;
    color: #206db6;
}

/* Style to ensure proper positioning of content */

.wrapper {
    display: flex;
    justify-content: left;
    align-items: stretch;
    align-content: center;
}

/* Causes the content on the right to occupy half of the page */

.right-box {
    flex: 1;
}

/* Causes the content on the left to occupy half of the page */

.left-box {
    flex: 1;
}

/* The rest is mostly styles for the text */

.img-box img {
    width: 100%;
    height: 100%;
}

.bottom-caption {
    text-align: end;
    font-family: light-font;
    font-size: 200%;
    font-weight: normal;
}

.para {
    font-family: light-font;
    color: #788382;
    width: 90%;
}

.content {
    padding: 8em 0px 35px 40px;
    margin: 0%;
}

.para em {
    font-family: regular-font;
}

.qu h1 {
    font-family: light-font;
    font-size: 250px;
}

/* Ensures proper positioning for the quotation marks */

.start-quotation {
    position: relative;
    width: 30px;
    left: 16px;
    bottom: 11.5px;
    filter: opacity(25%);
}

.end-quotation {
    position: relative;
    width: 32px;
    left: 9px;
    bottom: 47px;
    filter: opacity(25%);
    transform: scaleX(-1);
}